@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

aside h1{

    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.5rem;
}

aside h1 span {
    color: #2b5270;
}

section.register {
    width: 60rem;
    height: 52rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.register h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}